<h1><%= @shop.name %></h1>

<ul>
  <li>Shop ID:<%= @shop.id %></li>
  <li><%= "This shop has a liquor license" if @shop.liquor_license == true %></li>
  <li>This shop was updated at: <%= @shop.created_at %></li>
  <li>This shop was updated at: <%= @shop.updated_at %></li>
  <li>This shop' revenue is: <%= @shop.revenue %></li>
</ul>

<p><a href="/shops/<%= @shop.id %>/edit">Update Shop</a></p>

<form action="/shops/<%= @shop.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Shop"/>
</form>

<a href="/shops">Back to Shops Index</a>
