<%# <form action="/discs/<%= @disc.id %1>" method="post"> %>
<%#   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %1>"> %>
<%#   <input type="hidden" name="_method" value="PATCH"> %>
<%#   <label for="form_name">Name: </label> %>
<%#   <input type="text" name="manufacturer[name]" id="form_name" value="<%= @manufacturer.name %1>"><br> %>
<%#   <label for="form_founded_in">Year Founded: </label> %>
<%#   <input type="number" name="manufacturer[founded_in]" id= "form_founded_in" min="1900" max="<%= Date.today.year %1>" value="<%= @manufacturer.founded_in %1>"><br> %>
<%#   <input type="checkbox" name="manufacturer[in_business]" id="form_in_business" <% if @manufacturer.in_business %1>checked<% end %1>> %>
<%#   <label for="form_in_business"> Currently in business?</label><br> %>
<%#   <button name="submit" type="submit">Update Manufacturer</button> %>
<%# </form> %>
