<h1><%= @disc.name %></h1>

<ul>
  <li>Produced By: <%= @disc.manufacturer.name %></li>
  <li>ID: <%= @disc.id %></li>
  <li>Max Weight: <%= @disc.max_weight %></li>
  <li>In Production?: <%= @disc.in_production %></li>
  <li>Record Created At: <%= @disc.created_at %></li>
  <li>Record Last Updated At: <%= @disc.updated_at %></li>
</ul>

<footer><a href="/">Home</a></footer>
