<h1><%= @disc.name %></h1>

<ul>
  <li>Produced By: <%= @disc.manufacturer.name %></li>
  <li>ID: <%= @disc.id %></li>
  <li>Max Weight: <%= @disc.max_weight %></li>
  <li>In Production?: <%= @disc.in_production %></li>
  <li>Record Created At: <%= @disc.created_at %></li>
  <li>Record Last Updated At: <%= @disc.updated_at %></li>
</ul>

<p><a href="/discs/<%= @disc.id %>/edit">Update Disc</a></p>

<form action="/discs/<%= @disc.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Disc">
</form><br>
