<h1><%= @manufacturer.name %></h1>

<ul>
  <li>ID: <%= @manufacturer.id %></li>
  <li>Year Founded: <%= @manufacturer.founded_in %></li>
  <li>Currently Operating?: <%= @manufacturer.in_business %></li>
  <li>Record Created At: <%= @manufacturer.created_at %></li>
  <li>Record Last Updated At: <%= @manufacturer.updated_at %></li>
</ul>

<p><a href="/manufacturers/<%= @manufacturer.id %>/edit">Update Manufacturer</a></p>

<form action="/manufacturers/<%= @manufacturer.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Manufacturer">
</form><br>

<footer><a href="/">Home</a> <a href="/manufacturers">Manufacturers</a></footer>
