<!DOCTYPE html>
<html>
  <head>
    <style>
      .less-header {
        font-weight:normal;
      }
    </style>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <%= link_to 'Home', '/' %>
      <%= link_to 'Discs', '/discs' %>
      <%= link_to 'Manufacturers', '/manufacturers' %>
    </header>
    <%= yield %>
  </body>
</html>
